*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif,Arial, Helvetica, sans-serif;
}

body{
    background-color: white;
    width: 100vw;    
}

/* navbar */

.navbar{
    width: 100vw;
    height:70px;
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: fixed; 
    z-index: 1000;
    box-shadow: 0px 0px 4px black;
}


.logo{
    width:170px;
    height: 60px;
    background-image: url(logo.svg);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    text-align: center;
    padding: 7px;
     
}


.heading { 
    text-align: start;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 5px;
    color: #000000;
    margin: 0px 25px;
}

#icon-bar{

    text-align: center;
    font-size: 20px;
    color: #000000;
    display: none;
}


/* home-page */

.home{
    
    width: 300%;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
        transition: all 5s ease 0.2s;
    animation-name: homeslide;
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode:both;

}

@keyframes homeslide{
    0%{
        transform: translateX(0);
        opacity: 1;
    }
     20%{
        transform: translateX(0);
        opacity: 1;
    }
  
  40%{
        transform: translateX(-212vh);
        opacity: 1;
        
    }
      70%{
        transform: translateX(-212vh);
        opacity: 1;
        
    }
     85%{
        transform: translateX(-422vh);
        opacity: 1;

        
    }
      100%{
        transform: translateX(-422vh);
        opacity: 1;  
    }
 }

/* homes1 section  */

.home-photo{
    width: 100vw;
    height: 720px;
    background-image: url(home1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-photo-1{
    width: 100%;
    height: 280px;
    padding: 20px;
   padding-left: 200px ;
   padding-right: 200px;
    margin-bottom: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.home-photo #write{
    margin-top: 9px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
}

#home-photo1{
    width:350px;
    height:80px;
    background-size: cover;
 
}

.home-photo-1 #throught {
    width: 630px;
    height: 42px;
    font-size: 34px;
    color: #E0B749;
   
    letter-spacing: 1px;
}

.home-photo-1 p {
    color: #ffffff;
    font-size: 22px;
   
}

.home-photo-1 button{
    font-size: 15px;
    background-color: #ffffff;
    padding: 10px 36px;
    border: none;
    border-radius: 2rem;
    color: #05020A;
    font-weight: 550;
    
}

#home-photo2{
    width: 340px;
    height: 360px;
    margin-top: 180px;
    position:absolute;
}

/* button home */

.btn-home{
    width: 100px;
    height: 25px; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
   margin-bottom: 50px;
  
}

/* first-home button */
.btn-home a{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: none;
    background-color: rgba(215, 214, 214, 0.862);
}

.btn-home a:hover{
    width: 50px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--MAIN-PHONEPEE);
    transition: all 0.5s ease 0.1s;

}

/* sec btn */
.btn-home1{
    width: 100px;
    height: 25px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
  
}

.btn-home1 a{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: none;
    background-color: rgba(215, 214, 214, 0.862);
}

.btn-home1 a:hover{
    width: 50px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--MAIN-PHONEPEE);
    transition: all 0.5s ease 0.1s;

}

/* second - home */

#second-home{
    width: 100%;
    height: 720px;
    background-image: url(homesecbg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   margin-top: 130px;    
}

#sec1-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

#sec1-1 p {
    width:92px;
    height: 28px;
    font-size: 28px;
    margin-top: 10px;
    color: #c7bed8;
    text-decoration: line-through;
}

#sec1-1 h3{
    width: 100px;
    height: 40px;
    font-size: 40px;
    color: #5F1F9C;
    
}

#sec-heading{
    width: 400px;
    height: 73px;
    font-size: 28px;
    color: #361968;
   text-align: center;
   margin-top: 15px;
   line-height: 40px;
}

#signup{
    width: 400px;
    height: 24px;
    color: #8B8A8A;
    font-size: 18px;
    margin: 6px 0 6px 0;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

#secbtn{
    width: 150px;
    height: 41px;
    color: #ffffff;
    font-size: 14px;
    background-color: #5E2B9D;
    padding: 10px 36px 10px 36px;
    border: none;
    border-radius: 20px;
    font-weight: 550;
    
}

#second-home img{
    width: 565px;
    height: 360px;
    background-size: cover;
  
}

 /* home -3 section photo  */

#third-home{
    width: 100%;
    height: 740px;
    background-image: url(third-homeMain.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  font-family: sans-serif;

    
}

.third-home1{
    width: 800px;
    height: 270px;      
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 80px;
    padding: 20px;
      display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    
}

.third-home1 img{
    width: 250px;
    height: 61px;
}

.third-home1 h4{
    color: #E0BC7A;
    font-size: 42px;
    word-spacing: 1px;
    
}

.third-home1 p{
    color: #ffffff;
    font-size: 18px;
        
}

.third-home1 button{
    font-size: 15px;
    background-color: #ffffff;
    padding: 10px 36px;
    border: none;
    border-radius: 2rem;
    color: #05020A;
    font-weight: 550;
    
}

#third-img{
    width: 530px;
    height:380px;
    position: absolute;
    margin-top: 300px;

}

.btn-home2{
    width: 100px;
    height: 25px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
   margin-top: 340px;
  
}
.btn-home2 a{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: none;
    background-color: rgba(215, 214, 214, 0.862);
}

.btn-home2 a:hover{
    width: 50px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--MAIN-PHONEPEE);
    transition: all 0.5s ease 0.1s;

}

/* investment section */

.forall{
    width: 100%;
    height: 500px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* transform: translate(40px); */
    overflow-y: hidden;
    margin-top: 50px;
 
}

.invest{
    width: 395px;
    height: 385px;
    padding: 64px 32px;
    border-radius: 1rem;
    background-color: #ffffff;
    box-shadow: 0px 2px 8px rgba(0 ,0 ,0 ,0.10);
    transform: translate(40px);
   transition: all 2s ease-in-out;
}

.invest:nth-child(1){
         animation-name: slide;
    animation-duration: 0.2s;
    animation-timing-function: ease;   
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}
.invest:nth-child(2){
         animation-name: slide;
    animation-duration: 0.4s;
    animation-timing-function: ease;  
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
}
.invest:nth-child(3){
         animation-name: slide;
    animation-duration: 0.6s;
    animation-timing-function: ease;   
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
}

.invest #invest{
    width: 160px;
    height: 140px;
    margin-left: 80px;
    
}

.invest-1{
   margin-top: 55px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 10px;
   
}
.invest-1 a{
   font-weight: 500;
    
    font-size: 34px;
    color: #361968;
}
.invest-1 p {
    font-size: 16px;
    padding-right: 28px;
    color: #696969;
}

@keyframes slide {
    0% {
        transform : translateY(600px);
        /* opacity:0; */
    }
     20% {
        transform : translateY(500px);
        /* opacity:0.2; */
    }
       40% {
        transform : translateY(400px);
        /* opacity:0.4; */
    }

      60% {
        transform : translateY(300px);
        /* opacity:0.6; */
    }

      80% {
        transform : translateY(200px);
        /* opacity:0.8; */
    }

    100% {
        /* opacity: 1; */
        transform: translateY(0);}
}

/* qr-code section */

.qr-code{
    width: 100%;
    height: 750px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
    align-items: center;
    gap:20px;
    /* overflow-y: hidden; */
    
}

#qr-all{
    width: 1260px;
    height:712px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    overflow-y: hidden;
        
}
 
 #qr-6{
    /* margin-bottom: 250px; */
     width: 767px;
    height: 610px;
    border:1px solid rgba(230, 231, 246, 0.322);
    background-color:#1c0643 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
   
    animation-name: divsmoves;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

/* for div last*/

@keyframes divsmoves {
    10%{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    20%{
      width: 200px;
        height: 200px;
        border-radius: 50%;
    }
      30%{
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
      40%{
       width: 300px;
        height: 300px;
        border-radius: 50%;
    }
       50%{
       width: 350px;
        height: 350px;
        border-radius: 50%;
    }
     60%{
      width: 400px;
        height: 400px;
        border-radius: 50%;
    }
      70%{
        width: 500px;
        height: 500px;
        border-radius: 50%;
    }
      80%{
       width: 550px;
        height: 550px;
        border-radius: 50%;
      }
      90%{
          width: 650px;
        height: 600px;
        border-radius: 50%;
      }
   
    100%{
        width: 1260px;
        height: 605px;
        border-radius: 60px;
    }
}

#simple {
         height:100px;
         margin-top: 20px;
         overflow: hidden;
         
}
#simple h2{
    height: 96px;
    font-size: 32px;
    color: #C4A0EC;
    text-align: center;
    line-height: 45px;

       opacity: 0;
         transition: all 2s ease 0.4s;
        animation-name: qrheading;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes qrheading{
0%{
   opacity: 0;
}
   100%{  
    opacity: 1; 
}
 }

#upi{
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
  opacity: 0;
         transition: all 4s ease 0.4s;
        animation-name: qrdivs;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-delay: 6s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes qrdivs{
0%{
   opacity: 0;
   
}
   100%{  
    opacity: 1;      
}

 }   
    
.upi-all{
    width: 408px;
    height: 307px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    
           transition: all 8s ease 0.4s;
        animation-name: qrdivsmove;
    animation-duration: 12s;
    animation-timing-function: ease;
    animation-delay: 10s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

.upi-all h6{
    color: #ffffff;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.upi-all img{
    width: 207px;
    height: 163px;

}

.upi-all p{
   
    color: #ffffffa1;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

 @keyframes qrdivsmove{
    0%{
        transform: translateX(100vh);
        opacity: 0;
    }
  
  100%{
        transform: translateX(0);
        opacity: 1;
    }
 }



#qr-p {
    color: #6F6F6F;
    font-size: 20px;
    text-align: center;
    
    margin-top: 45px;
    line-height: 25px;
    opacity: 0;
         transition: all 2s ease 0.4s;
        animation-name: qrpera;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
}

@keyframes qrpera{
0%{
   opacity: 0;
}
 
   100%{  
   
    opacity: 1;
    transform: scale(1.1);
   
}

 }


#qr{
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 20px;
    padding: 10px;
    
         transition: all 2s ease 0.4s;
        animation-name: qr;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 5s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
     
}
/* for scannner */
@keyframes qr{
0%{
    transform: scale(1);
}
  
   100%{  
   
    transform: translateY(45px);
    width: 130px;
    height: 130px;
  
}

 } 




 /* section illution */

 #illusion{
    width: 100%;
    height: 600px;
    background-color: white;
    margin-bottom: 100px;
    overflow-y: hidden;
    overflow-x: hidden;
  
    
    
 }
 .illusion-2{
    width: 30%;
    height: 600px;
    margin-left: 34%;
    background-color: white;
    overflow: hidden;
    display: flex;
 flex-direction: column;
    justify-content: center;
    align-items: center;
opacity: 0;
     transition: all 4s ease 0.4s;
     animation-name: illu;
      animation-duration: 3s;
     animation-timing-function: linear;
     animation-delay: 5s;
     animation-iteration-count:1;
     animation-fill-mode: forwards;
    
 }

 .illusion-2 img{

    width: 1500px;
    height: 600px;
    background-size: cover;
    

 }


@keyframes illu{
   
    
    0%{
       transform: translateY(600px);
       opacity: 0;
       
    }
    10%{
     transform: translateY(500px);
     
    }
     20%{
      transform: translateY(400px);
    }
    30%{
      transform: translateY(300px);
    }
      40%{
   transform: translateY(200px);
   opacity: 0.5;
    }
   
    50%{
    transform: translateY(100px);
   opacity: 0.8;
    }
    60%{
       opacity: 1.1;
        transform: translateX(-100px) rotate(-90deg) scale(1.1);
    }
      
    70%{
        opacity: 1.1;
        transform: translateX(-50px) rotate(-180deg) scale(1.2);
    }
    80%{
        opacity: 1.1;
        transform: translateX(50px) rotate(180deg) scale(1.1);
    }
     90%{
        opacity: 1.1;
        transform: translateX(100px) rotate(90deg) scale(1);
    }

   

    100%{
        transform: translateX(0) rotate(0deg)translateY(0);
        opacity: 1;
    }
      
}




 /* section move */

 #move{
    width: 100%;
    height: 680px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    overflow-x: hidden;
    margin-top: 20px;
    
 }
 #move-heading{
      height:110px;
      /* z-index: 1000; */
    
 }
 #move-heading h2 {
     font-size: 46px;
      text-align: center;
      /* margin: 5px 0px 5px 0px; */
       color: #3D3256;
      
 }

 :root{
    --pink:#F2CFCF;
    --purple : #CFC9E9;
    --yellow : #FFDFBA;
    --pink-halfcircle :#F39BAC;
    --orangle :#FFDFBA;
    --RED-DIAMOND:#E94C4C;
    --LIGHT-TEAL:#CDE3E1;
    --GREEN:#3CB6A5;
    --LIGHT-VOILET:#D5C5E3;
    --LIGHT-GREY:#F6F6F6;
    --MAIN-PHONEPEE:#4B33A8;
    --text-color:#05020A;
    --border:black;
    --green-div:#CDE3E1;
    
 }
/* main container */
 #cable{
    
    height: 154px;
    border: none;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   
    animation-name: moveX;
    animation-duration: 26s;
    animation-timing-function: linear;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-fill-mode:both;

 }
 /* cable */

 .cable-1{
    width:350px;
    height: 154px;
    border:1px solid black;
    border-radius: 100px;
    padding: 16px 60px 16px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
 }

 .cable2{
    width: 120px;
    height: 120px;
    background-color: var(--yellow);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
.cable2 img{
    width: 42px;
    height: 42px;
}

.cable-1 p{
    font-size: 18px;
    color: #05020A;
}

#cable-near1{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid transparent;
    margin-left: 15px;
    margin-right: 15px;
    background-color: var(--purple);

}
.cable-half{
    width:30px;
    height:60px;
    margin-right: 15px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: var(--pink-halfcircle);
}
/* mobile */

 .mobile-1{
    width:370px;
    height: 154px;
    border:1px solid black;
    border-radius: 100px;
    padding: 16px 60px 16px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
    margin-left: 15px;
 }

 .mobile2{
    width: 120px;
    height: 120px;
    background-color: var(--LIGHT-GREY);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
.mobile2 img{
    width: 42px;
    height: 42px;
}

.mobile-1 p{
    font-size: 18px;
    color: #05020A;
}
/* fast */

 .fast-1{
    width:370px;
    height: 154px;
    border:1px solid black;
    border-radius: 100px;
    padding: 16px 60px 16px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:18px;
    
 }

 .fast2{
    width: 120px;
    height: 120px;
    background-color: var(--pink);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
.fast2 img{
    width: 42px;
    height: 42px;
}

.fast-1 p{
    font-size: 18px;
    color: #05020A;
}
  
/* dth */


 .dth-1{
    width:254px;
    height: 154px;
    border:1px solid black;
    border-radius: 100px;
    padding: 16px 60px 16px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
    
 }

 .dth2{
    width: 120px;
    height: 120px;
    background-color: var(--purple);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
.dth2 img{
    width: 42px;
    height: 42px;
}

.dth-1 p{
    font-size: 18px;
    color: #05020A;
}
/* green circle */

.circle-green{
        width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid transparent;
    margin-left: 15px;
    margin-right: 15px;
    background-color: var(--GREEN);
}

 @keyframes moveX{
    0%{
        transform: translateX(100vw);
    }
  
  100%{
        transform: translateX(0);
    }
 }   

/* water container */
 #water{
    
    height: 154px;
    border: none;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    animation-name: waterX;
    animation-duration: 22s;
    animation-timing-function: linear;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-fill-mode:both;

 }

  /* electricity */

 .elect-1{
    width:305px;
    height: 154px;
    border:1px solid black;
    border-radius: 100px;
    padding: 16px 60px 16px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
 }

 .elect2{
    width: 120px;
    height: 120px;
    background-color: var(--pink);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
.elect2 img{
    width: 42px;
    height: 42px;
}

.elect-1 p{
    font-size: 18px;
    color: #05020A;
}

/* piped gas */

 .pipe-1{
    width:300px;
    height: 154px;
    margin-left: 15px;
    border:1px solid black;
    border-radius: 100px;
    padding: 16px 60px 16px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:18px;
 }

 .pipe2{
    width: 120px;
    height: 120px;
    background-color: var(--LIGHT-GREY);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
.pipe2 img{
    width: 42px;
    height: 42px;
}

.pipe-1 p{
    font-size: 18px;
    color: #05020A;
}


/* rent payment */

 .rent-1{
    width:333px;
    height: 154px;
    
    border:1px solid black;
    border-radius: 100px;
    padding: 16px 60px 16px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:18px;
 }

 .rent2{
    width: 120px;
    height: 120px;
    background-color: var(--orangle);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
.rent2 img{
    width: 42px;
    height: 42px;
}

.rent-1 p{
    font-size: 18px;
    color: #05020A;
}


/* water */

 .water-1{
    width:268px;
    height: 154px;
    
    border:1px solid black;
    border-radius: 100px;
    padding: 16px 60px 16px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:18px;
 }

 .water2{
    width: 120px;
    height: 120px;
    background-color: var(--LIGHT-GREY);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
.water2 img{
    width: 42px;
    height: 42px;
}

.water-1 p{
    font-size: 18px;
    color: #05020A;
}

.cable-half1{
    width:30px;
    height:60px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: rgb(238, 185, 85);
}
.cable-half2{
    width:30px;
    height:60px;
    margin-left: 10px;
    margin-right: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: var(--orangle);
}

/* diamond */
.diamond{
    width: 43px;
    height: 43px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: var(--pink-halfcircle);
    transform: rotate(45deg);
}

.cable-half3{
    width:30px;
    height:60px;
    margin-left: 10px;
    margin-right: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: var(--MAIN-PHONEPEE);
}

/* credit card payment */

 .credit-1{
    width:395px;
    height: 154px;
    
    border:1px solid black;
    border-radius: 100px;
    padding: 16px 60px 16px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:18px;
 }

 .credit2{
    width: 120px;
    height: 120px;
    background-color:var(--purple);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
.credit2 img{
    width: 42px;
    height: 42px;
}

.credit-1 p{
    font-size: 18px;
    color: #05020A;
}

/* broadband */

 .broad-1{
    width:385px;
    height: 154px;
    
    border:1px solid black;
    border-radius: 100px;
    padding: 16px 60px 16px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:18px;
 }

 .broad2{
    width: 120px;
    height: 120px;
    background-color:var(--green-div);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
.broad2 img{
    width: 42px;
    height: 42px;
}

.broad-1 p{
    font-size: 18px;
    color: #05020A;
}

.broad-circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid transparent;
    margin-left: 15px;
    margin-right: 15px;
    background-color: var(--GREEN);

}

/* cylinder */

 .cylinder-1{
    width:355px;
    height: 154px;
    
    border:1px solid black;
    border-radius: 100px;
    padding: 16px 60px 16px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:18px;
 }

 .cylinder2{
    width: 120px;
    height: 120px;
    background-color:var(--orangle);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
.cylinder2 img{
    width: 42px;
    height: 42px;
}

.cylinder-1 p{
    font-size: 18px;
    color: #05020A;
}

@keyframes waterX{
    0%{
        transform: translateX(0);
    }
  
  100%{
        transform: translateX(100vw);
    }
 }   



 /* recur container */
 #recur{
    
    height: 154px;
    border: none;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    animation-name: recurX;
    animation-duration: 26s;
    animation-timing-function: linear;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-fill-mode:both;

 }

  .recurs-1{
    width:368px;
    height: 154px;
    
    border:1px solid black;
    border-radius: 100px;
    padding: 16px 60px 16px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:18px;
 }

 .recurs2{
    width: 120px;
    height: 120px;
    background-color:var(--pink);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
.recurs2 img{
    width: 42px;
    height: 42px;
}

.recurs-1 p{
    font-size: 18px;
    color: #05020A;
}


/* loan */
  .loan-1{
    width:353px;
    height: 154px;
    
    border:1px solid black;
    border-radius: 100px;
    padding: 16px 60px 16px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:18px;
 }

 .loan2{
    width: 120px;
    height: 120px;
    background-color:var(--orangle);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
.loan2 img{
    width: 42px;
    height: 42px;
}

.loan-1 p{
    font-size: 18px;
    color: #05020A;
}

/* insurance */
  .insurance-1{
    width:300px;
    height: 154px;
    margin-left: 15px;
    border:1px solid black;
    border-radius: 100px;
    padding: 16px 60px 16px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:18px;
 }

 .insurance2{
    width: 120px;
    height: 120px;
    background-color:var(--LIGHT-GREY);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
.insurance2 img{
    width: 42px;
    height: 42px;
}

.insurance-1 p{
    font-size: 18px;
    color: #05020A;
}

/* municipal */
  .muni-1{
    width:420px;
    height: 154px;
   
    border:1px solid black;
    border-radius: 100px;
    padding: 16px 60px 16px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:18px;
 }

 .muni2{
    width: 120px;
    height: 120px;
    background-color:var(--purple);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
.muni2 img{
    width: 42px;
    height: 42px;
}

.muni-1 p{
    font-size: 18px;
    color: #05020A;
}

@keyframes recurX{
    0%{
        transform: translateX(100vw);
    }
  
  100%{
        transform: translateX(0);
    }
 }  

 /* travel and stay section */

 #travel{
    width: 100%;
    height: 610px;
    margin-top: 100px;
    padding: 0 22px 0 22px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
 }

 #travel h2{
    height:56px;
    font-size: 46px;
    margin: 10px 0 10px 0;
    color: #3D3256;
    text-align: center;
 }

 #travel p{
    height: 66px;
    color: #696969;
    font-size: 22px;
    margin: 10px 0 10px 0;
    text-align: center;
    margin-top: 5px;
    line-height: 35px;
 }

 .fbts{
    width: 100%;
    height: 300px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
 }

 .all-fbts{
    width: 264px;
    height: 280px;
    background-color: #FAFAFA;
    padding: 20px 32px 20px 32px;
    border-radius: 30px;
    border: 1px solid rgb(193, 191, 191);
    overflow: hidden;
   
 }

 .fbts h6{
    color: #361968;
    font-size: 30px;
    margin: 10px 0 10px 0;
    letter-spacing: 1px;
 }

 .fbts img{
    width: 160px;
    height: 120px;
    margin-top: 85px;
    margin-left: 70px;
   
 }

 #bus img{
     
        margin-left: 80px;
 }

 #train img{
        margin-left: 80px;
 }
 #stay img{
         margin-top: 50px;
        margin-left: 88px;
 }

 #btn1{
    width: 213px;
    height: 44px;
    font-size: 16px;
    background-color: #5E2B9D;
    margin: 30px 28px 30px 28px;
    margin-top: 70px;
    padding: 10px 36px 10px 36px;
    border-radius: 30px;
    border: 2px solid transparent;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

 }

 #btn1 img{
    width: 26px;
    height: 18px;
    color: white;
 }

 /* phone pee international */

 #inter{
    width: 100%;
    height: 700px;
    background-color: white;
        display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  
 }

 .inter-inner{
    margin-bottom: 200px;
            display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
 }


 #inter-second{
    width: 1224px;
    height: 550px;
    margin-top: 250px;
    background-color: #3B2968;
    padding-left: 16px;
    padding-right: 16px;
   
    border-radius: 60px;
    display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 
 #inter-first{
    width: 400px ;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
     /* margin-bottom: 450px; */
 }

 #inter-first img{
    width: 180px;
    height: 180px;
   
 }

  #inter-first #ghalf-1{
    width: 40px;
    height: 100px; 
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #9967D1;
   
 }

 #inter-first #ghalf-small{
    width: 30px;
    height: 60px; 
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #C4A0Ec;
 }

 
  #inter-first #ghalf-2{
    width: 40px;
    height: 100px; 
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    background-color: #9967D1;
   
 }

 #inter-first #ghalf-small1{
    width: 30px;
    height: 60px; 
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background-color: #C4A0Ec;
 }

 #inter-second h2{
    height: 56px;
    font-size: 46px;
    color: #ffffff;
    margin: 10px 0 10px 0;
    text-align: center;
  
 }

  #inter-second p{
    height: 66px;
    color: #ffffff;
    font-size: 22px;
    margin: 10px 0 10px 0;
    text-align: center;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 50px;
  }

  #flag{
    width: 1200px;
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
    transition: all 2s ease;
    
  }

  #flag img{
    width: 130px;
    height: 130px;
    opacity: 0;
  }

  #flag-1{
         animation: flagmove;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
    
  }
   #flag-2{
         animation: flagmove;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 4s;
    animation-iteration-count: 1;
     animation-fill-mode: forwards;
     
  }
   #flag-3{
         animation: flagmove;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 6s;
    animation-iteration-count: 1;
     animation-fill-mode: forwards;
  }
   #flag-4{
         animation: flagmove;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 8s;
    animation-iteration-count: 1;
     animation-fill-mode: forwards;
  }
   #flag-5{
         animation: flagmove;
     animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 10s;
    animation-iteration-count: 1;
     animation-fill-mode: forwards;
  }
    #flag-6{
         animation: flagmove;
     animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 12s;
    animation-iteration-count: 1;
     animation-fill-mode: forwards;
  
  }
  
  

@keyframes flagmove {
    0% {
        transform : translateY(130px);
        opacity:0;
    }
  
    100% {
       
        transform: translateY(0);
        opacity: 1;
    
    }
}


/* qr-and devices section */

#devices{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;   
    margin-top: 200px;
    padding: 15px;
    font-family: sans-serif;
    background: white;
    
}

#devices h4{
    text-align: center;
    color: #3D3256;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 44px;
    line-height: 60px;
    font-weight: 550;
    z-index: 10;
}

.rotate{
    width: 1300px;
    height: 700px;
    /* border: 2px solid black; */
    background: linear-gradient(to left, #c1ecf2,#f7b573,#55d0e0,#f7b573);
    position: relative;
    margin-top: 50px;
     overflow: hidden; 
 
}

.rotate-1{
    width: 100%;
    height: 100%;
    background-image: url(last-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.white{
    background: white;
    width: 500px;
    height: 400px;
    border-radius: 50%;
     position: absolute;
     margin-top: 150px;
     margin-left: 300px;
     display: flex;
     align-items: center;
     justify-content: center;
}


.hand{

    height: 700px;

width: 400px;
background:white;
box-shadow: 52px 52px 92px white,-52px -52px 92px white,52px 52px 92px white,-52px -52px 92px white;
/* border-radius: 50%; */
margin-bottom: 600px;
z-index: 0;
transform-origin: bottom;
transition: all 2s linear;
 animation: rotate1;
 animation-duration: 10s;
 animation-timing-function: linear;
 animation-delay: 2s;
 animation-iteration-count: infinite;
    /* box-shadow: 56px 66px 164px white; */
}

@keyframes rotate1 {
    0% {
        transform : rotate(0deg);
        z-index: 1;        
    }
     100% {
        transform : rotate(360deg);
        z-index: 1;  
    }
}


.device-inner{
    width:300px ;
    height: 360px;
    z-index: 10;
    position: absolute;
    margin-left: 180px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-right: 528px;
    margin-bottom: 57px;
}

.device-inner img{
    width: 240px;
    height: 250px;

}

.device-inner button{
    width: 40px;
    height: 41px;
    background: #3e126d;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    margin-top:218px ;
    margin-right: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.device-inner i{
    color: white;
    font-size: 15px;
}

.device-inner p{
    font-size: 19px;
    font-weight: 550;
    position: absolute;
    margin-top: 272px;
    margin-right: 35px;
    letter-spacing: 0.2px;
}

.device-inner2{
    width: 300px;
    height: 240px;
}

.device-inner2 img{
    width:210px;
    height: 172px;
    position:absolute;
    z-index: 10;
    margin-left: 200px;
    margin-top: 90px;
}

.device-inner2 button{
    width: 40px;
    height: 41px;
    background: #3e126d;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    margin-top:225px ;
    margin-left: 285px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.device-inner2 i{
    color: white;
    font-size: 15px;
}

.device-inner2 p{
    font-size: 18px;
    font-weight: 550;
    position: absolute;
    margin-top: 280px;
    margin-left: 265px;
    letter-spacing: 0.2px;
    z-index: 10;
}

.device-inner3{
    width: 500px;
    height: 400px;
}

.device-inner3 img{
    width: 320px;
    height: 320px;
    position: absolute;
    /* margin-bottom: 250px; */
    margin-left: 240px;
    z-index: 10;
    margin-top: 5px;
}

.device-inner3 button{
    width: 40px;
    height: 41px;
    background: #3e126d;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    margin-top:287px ;
    margin-left: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.device-inner3 i{
    color: white;
    font-size: 15px;
}

.device-inner3 p{
    width: 200px;
    font-size: 18px;
    font-weight: 550;
    position: absolute;
    margin-top: 345px;
    margin-left: 375px;
    letter-spacing: 0.3px;
    z-index: 10;
}

#footer{
    width: 100%;
    height: 680px;
    padding-left: 150px;
    padding-right: 100px;
    padding-bottom: 28px;
    padding-top: 48px;
    font-family: sans-serif;
    box-shadow:1px 1px 4px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.foot{
    width: 100%;
    height: 582px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    letter-spacing: 0.2px;
    gap: 22px;
}

.foot1{
    width: 190px;
    height: 455px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 18px;
}

.foot1 img{
    width: 140px;
    height: 60px;
    margin-right: 10px;
    margin-left: 10px;
}


.foot2{
    width: 300px;
    height: 475px;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.foot2 h1{
    color: #000000;
    font-size: 16px;
    padding: 16px 0px 8px 0px;
}
.foot2 p{
   
    color: #706e6e;
    padding: 8px 4px 8px 4px;
    font-size: 14px;
    font-weight: 100;
    line-height: 22px;
}

.foot2 p:hover{
    color: #3e126d;
}

#btn-foot{
    width:165px;
    height: 44px;
    margin-top: 10px;
    background: white;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 18px;
    font-weight: 550;

}


.foot3{
    width: 350px;
    height: 475px;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.foot3 h1{
    color: #000000;
    font-size: 16px;
    padding: 16px 0px 8px 0px;
}
.foot3 p{
   
    color: #706e6e;
    padding: 8px 4px 8px 4px;
    font-size: 14px;
    font-weight: 100;
    line-height: 22px;
}

.foot3 p:hover{
    color: #3e126d;
}

.cer-foot h1{
    color: #000000;
    font-size: 16px;
    padding: 16px 0px 8px 0px;
    margin-left: 5px;
    letter-spacing: 0.3px;
}

.cer-foot img{
    width: 115px;
    height: 72px;
    margin-top: 10px;
    margin-left: 5px;
}

.in-foot{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-left: 1040px;
    position: absolute;
    margin-top: 510px;
}

.in-foot1{
  width: 36px;
  height: 36px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.in-foot1 i{
      color: white;
      font-size: 22px;
}

.foot-end{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 620px;
    position: absolute;
    gap: 3px;
}

.foot-end i{
    color: #706e6e;
}

.foot-end h1{
    font-size: 16px;
    color: #706e6e;
}